@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Darumadrop One", cursive;
  overflow: hidden;
  background-color: black;
}

.nav {
  color: #f0f8ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;

  h1 {
    font-size: 20px;

    &:hover {
      cursor: pointer;
      color: red;
      transition: all 0.4s ease-in-out;
    }
  }
}
